In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train= pd.read_csv(r'C:\Users\abarn\Downloads\dataset\train.csv')
df_test= pd.read_csv(r'C:\Users\abarn\Downloads\dataset\test.csv')

In [3]:

df_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df_train.shape

(8523, 12)

In [5]:

df_train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [6]:
df_test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
df_train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [9]:

df_train['Item_Weight'].describe()

count    7060.000000
mean       12.857645
std         4.643456
min         4.555000
25%         8.773750
50%        12.600000
75%        16.850000
max        21.350000
Name: Item_Weight, dtype: float64

In [10]:
df_train['Item_Weight'].fillna(df_train['Item_Weight'].mean(),inplace=True)
df_test['Item_Weight'].fillna(df_test['Item_Weight'].mean(),inplace=True)

In [11]:

df_train.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [12]:

df_train['Item_Weight'].describe()

count    8523.000000
mean       12.857645
std         4.226124
min         4.555000
25%         9.310000
50%        12.857645
75%        16.000000
max        21.350000
Name: Item_Weight, dtype: float64

In [13]:
df_train['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [14]:
df_train['Outlet_Size'].mode()

0    Medium
dtype: object

In [15]:
df_train['Outlet_Size'].fillna(df_train['Outlet_Size'].mode()[0],inplace=True)
df_test['Outlet_Size'].fillna(df_test['Outlet_Size'].mode()[0],inplace=True)

In [16]:
df_train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [17]:
df_test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [18]:
df_train.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)
df_test.drop(['Item_Identifier','Outlet_Identifier'],axis=1,inplace=True)

In [19]:

df_train

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [21]:
pip install dtale

Collecting dtale
  Downloading dtale-1.60.2-py2.py3-none-any.whl (11.4 MB)
Requirement already satisfied: numpy in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (1.19.5)
Requirement already satisfied: scipy in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (1.6.2)
Collecting strsimpy
  Downloading strsimpy-0.2.1-py3-none-any.whl (45 kB)
Requirement already satisfied: et-xmlfile in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (1.0.1)
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Requirement already satisfied: cycler in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (0.10.0)
Requirement already satisfied: xlrd in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (2.0.1)
Collecting scikit-learn==0.24.2
  Downloading scikit_learn-0.24.2-cp38-cp38-win_amd64.whl (6.9 MB)
Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-win_amd64.whl (65.9 MB)
Collecting ppscore
  Downloading ppscore-1.2.0.tar.gz (47 kB)
Requirement already satisfied: future>=0.14.0 in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (0.18.2)
Requirement already satisfied: requests in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (2.25.1)
Requirement already satisfied: itsdangerous in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (1.1.0)
Collecting dash>=2.0.0
  Downloading dash-2.0.0-py3-none-any.whl (7.3 MB)
Requirement already satisfied: statsmodels in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (0.12.2)
Collecting Flask-Compress
  Downloading Flask_Compress-1.10.1-py3-none-any.whl (7.9 kB)
Requirement already satisfied: openpyxl in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (3.0.7)
Collecting plotly>=5.0.0
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Collecting dash-colorscales
  Downloading dash_colorscales-0.0.4.tar.gz (62 kB)
Requirement already satisfied: networkx in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (2.5)
Requirement already satisfied: matplotlib in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (3.3.4)
Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Collecting lz4
  Downloading lz4-3.1.3-cp38-cp38-win_amd64.whl (192 kB)
Collecting dash-daq
  Downloading dash_daq-0.5.0.tar.gz (642 kB)
Requirement already satisfied: six in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (1.15.0)
Requirement already satisfied: Flask in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (1.1.2)
Requirement already satisfied: packaging<=21.0 in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (20.9)
Requirement already satisfied: missingno<=0.4.2 in c:\users\abarn\appdata\roaming\python\python38\site-packages (from dtale) (0.4.2)
Requirement already satisfied: seaborn in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (0.11.1)
Requirement already satisfied: pandas in c:\users\abarn\anaconda3\lib\site-packages (from dtale) (1.2.4)
Collecting xarray
  Downloading xarray-0.20.1-py3-none-any.whl (835 kB)
Collecting dash-bootstrap-components
  Downloading dash_bootstrap_components-1.0.0-py3-none-any.whl (207 kB)
Requirement already satisfied: joblib>=0.11 in c:\users\abarn\anaconda3\lib\site-packages (from scikit-learn==0.24.2->dtale) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abarn\anaconda3\lib\site-packages (from scikit-learn==0.24.2->dtale) (2.1.0)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0.tar.gz (3.4 kB)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0.tar.gz (3.8 kB)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0.tar.gz (3.4 kB)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\abarn\anaconda3\lib\site-packages (from Flask->dtale) (1.0.1)
Requirement already satisfied: click>=5.1 in c:\users\abarn\anaconda3\lib\site-packages (from Flask->dtale) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\abarn\anaconda3\lib\site-packages (from Flask->dtale) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\abarn\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask->dtale) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\abarn\anaconda3\lib\site-packages (from packaging<=21.0->dtale) (2.4.7)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Collecting brotli
  Downloading Brotli-1.0.9-cp38-cp38-win_amd64.whl (365 kB)
Requirement already satisfied: pillow>=6.2.0 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib->dtale) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib->dtale) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib->dtale) (2.8.1)
Requirement already satisfied: decorator>=4.3.0 in c:\users\abarn\anaconda3\lib\site-packages (from networkx->dtale) (5.0.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\abarn\anaconda3\lib\site-packages (from pandas->dtale) (2021.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\abarn\anaconda3\lib\site-packages (from requests->dtale) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abarn\anaconda3\lib\site-packages (from requests->dtale) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\abarn\anaconda3\lib\site-packages (from requests->dtale) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abarn\anaconda3\lib\site-packages (from requests->dtale) (2020.12.5)
Requirement already satisfied: patsy>=0.5 in c:\users\abarn\anaconda3\lib\site-packages (from statsmodels->dtale) (0.5.1)
Building wheels for collected packages: dash-core-components, dash-html-components, dash-table, dash-colorscales, dash-daq, ppscore
  Building wheel for dash-core-components (setup.py): started
  Building wheel for dash-core-components (setup.py): finished with status 'done'
  Created wheel for dash-core-components: filename=dash_core_components-2.0.0-py3-none-any.whl size=3803 sha256=38815cb2e874203bcf81f21576581ecfb3601b18ba10243ab35cd392e428c201
  Stored in directory: c:\users\abarn\appdata\local\pip\cache\wheels\52\e4\f3\16724791571a955a46d54650510c98c04ab7d339626aee27cc
  Building wheel for dash-html-components (setup.py): started
  Building wheel for dash-html-components (setup.py): finished with status 'done'
  Created wheel for dash-html-components: filename=dash_html_components-2.0.0-py3-none-any.whl size=4071 sha256=846c54af3c7c52fe2e073b6b0b627735ed6e41990aaba88f3dac0a148864b219
  Stored in directory: c:\users\abarn\appdata\local\pip\cache\wheels\73\d8\8d\92f612c03c895f19bcc56a6c54be7bb41aaa698012a5624f60
  Building wheel for dash-table (setup.py): started
  Building wheel for dash-table (setup.py): finished with status 'done'
  Created wheel for dash-table: filename=dash_table-5.0.0-py3-none-any.whl size=3896 sha256=474f17cdbe35c32b67001683578803107ca60828feb9d791f4aa63480648468f
Note: you may need to restart the kernel to use updated packages.  Stored in directory: c:\users\abarn\appdata\local\pip\cache\wheels\a6\fb\f5\4adf241f384634f52028f15eab6a325e77b8766a0a00816bbf
  Building wheel for dash-colorscales (setup.py): started
  Building wheel for dash-colorscales (setup.py): finished with status 'done'
  Created wheel for dash-colorscales: filename=dash_colorscales-0.0.4-py3-none-any.whl size=62598 sha256=1f854265be1469597543efc9e66e4528df12b04a7e139cc5ccb9b7f5d792a21f
  Stored in directory: c:\users\abarn\appdata\local\pip\cache\wheels\fe\33\33\172dbfe1efc739352828854a113df599a428b58f68ed0c4f75
  Building wheel for dash-daq (setup.py): started
  Building wheel for dash-daq (setup.py): finished with status 'done'
  Created wheel for dash-daq: filename=dash_daq-0.5.0-py3-none-any.whl size=669701 sha256=eb0f50b330a26e526c90afc6de688e9e8f088df87e496f20f832f39318a2f60f
  Stored in directory: c:\users\abarn\appdata\local\pip\cache\wheels\00\35\e5\57e90f10c529601c6627400513cb65dd5adb09752411f5a050
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.2.0-py2.py3-none-any.whl size=13050 sha256=3ae89f6501de81cda69a9235be697e10f5008900c52a8bceca39dc1d4bf9cb5f
  Stored in directory: c:\users\abarn\appdata\local\pip\cache\wheels\fb\0e\65\da65ce669381fc01b6ef990d301d3586991f89bff1175877a4
Successfully built dash-core-components dash-html-components dash-table dash-colorscales dash-daq ppscore
Installing collected packages: tenacity, brotli, plotly, Flask-Compress, dash-table, dash-html-components, dash-core-components, scikit-learn, dash, xarray, strsimpy, squarify, ppscore, lz4, kaleido, flask-ngrok, dash-daq, dash-colorscales, dash-bootstrap-components, dtale

  Attempting uninstall: plotly
    Found existing installation: plotly 4.14.3
    Uninstalling plotly-4.14.3:
      Successfully uninstalled plotly-4.14.3
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.1
    Uninstalling scikit-learn-0.24.1:
      Successfully uninstalled scikit-learn-0.24.1
Successfully installed Flask-Compress-1.10.1 brotli-1.0.9 dash-2.0.0 dash-bootstrap-components-1.0.0 dash-colorscales-0.0.4 dash-core-components-2.0.0 dash-daq-0.5.0 dash-html-components-2.0.0 dash-table-5.0.0 dtale-1.60.2 flask-ngrok-0.0.25 kaleido-0.2.1 lz4-3.1.3 plotly-5.3.1 ppscore-1.2.0 scikit-learn-0.24.2 squarify-0.4.3 strsimpy-0.2.1 tenacity-8.0.1 xarray-0.20.1

In [23]:
import dtale

In [24]:

dtale.show(df_train)

2021-11-07 11:52:27,943 - INFO     - NumExpr defaulting to 8 threads.

In [25]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\abarn\appdata\roaming\python\python38\site-packages (3.0.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\abarn\appdata\roaming\python\python38\site-packages (from pandas-profiling) (1.8.2)
Requirement already satisfied: visions[type_image_path]==0.7.1 in c:\users\abarn\appdata\roaming\python\python38\site-packages (from pandas-profiling) (0.7.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (3.3.4)
Requirement already satisfied: joblib in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (4.59.0)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\abarn\appdata\roaming\python\python38\site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (5.4.1)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (0.11.1)
Requirement already satisfied: missingno>=0.4.2 in c:\users\abarn\appdata\roaming\python\python38\site-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\abarn\appdata\roaming\python\python38\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: numpy>=1.16.0 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (1.19.5)
Requirement already satisfied: phik>=0.11.1 in c:\users\abarn\appdata\roaming\python\python38\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: scipy>=1.4.1 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (1.6.2)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: requests>=2.24.0 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (2.25.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\abarn\anaconda3\lib\site-packages (from pandas-profiling) (1.2.4)
Requirement already satisfied: networkx>=2.4 in c:\users\abarn\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.5)
Requirement already satisfied: multimethod==1.4 in c:\users\abarn\appdata\roaming\python\python38\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.4)
Requirement already satisfied: bottleneck in c:\users\abarn\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.3.2)
Requirement already satisfied: attrs>=19.3.0 in c:\users\abarn\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (20.3.0)
Requirement already satisfied: Pillow in c:\users\abarn\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (8.2.0)
Requirement already satisfied: imagehash in c:\users\abarn\appdata\roaming\python\python38\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (4.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\abarn\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: six in c:\users\abarn\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\abarn\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas-profiling) (5.0.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\abarn\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\abarn\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (3.7.4.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\abarn\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\abarn\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abarn\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\abarn\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.4)
Requirement already satisfied: PyWavelets in c:\users\abarn\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [26]:
from pandas_profiling import ProfileReport

In [28]:
plt.figure(figsize=(10,5))
sns.heatmap(df_train.corr(),annot=True)
plt.show()

In [29]:
pip install klib

Collecting klib
  Downloading klib-0.2.0-py3-none-any.whl (28 kB)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\abarn\anaconda3\lib\site-packages (from klib) (0.24.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\abarn\anaconda3\lib\site-packages (from klib) (1.6.2)
Requirement already satisfied: seaborn>=0.11.1 in c:\users\abarn\anaconda3\lib\site-packages (from klib) (0.11.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\abarn\anaconda3\lib\site-packages (from klib) (1.19.5)
Requirement already satisfied: matplotlib>=3.0.3 in c:\users\abarn\anaconda3\lib\site-packages (from klib) (3.3.4)
Requirement already satisfied: pandas>=1.1 in c:\users\abarn\anaconda3\lib\site-packages (from klib) (1.2.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\abarn\anaconda3\lib\site-packages (from matplotlib>=3.0.3->klib) (1.3.1)
Requirement already satisfied: six in c:\users\abarn\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.3->klib) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\abarn\anaconda3\lib\site-packages (from pandas>=1.1->klib) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abarn\anaconda3\lib\site-packages (from scikit-learn>=0.23->klib) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\abarn\anaconda3\lib\site-packages (from scikit-learn>=0.23->klib) (1.0.1)
Installing collected packages: klib
Successfully installed klib-0.2.0
Note: you may need to restart the kernel to use updated packages.

In [30]:

import klib

In [31]:

# klib.describe - functions for visualizing datasets
klib.cat_plot(df_train) #

GridSpec(6, 5)

In [32]:

#!pip install pandas numpy seaborn matplotlib klib dtale scikit-learn joblib pandas-profiling

In [33]:
klib.corr_mat(df_train) # returns a color-encoded correlation matrix

In [36]:
klib.corr_plot(df_train)

In [37]:
klib.dist_plot(df_train)

In [38]:
klib.dist_plot(df_train)

In [39]:

# klib.clean - functions for cleaning datasets
klib.data_cleaning(df_train)

Shape of cleaned data: (8523, 10)Remaining NAs: 0

Changes:
Dropped rows: 0
     of which 0 duplicates. (Rows: [])
Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.46 MB (-70.77%)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300000,Low Fat,0.016047,Dairy,249.809204,1999,Medium,Tier 1,Supermarket Type1,3735.137939
1,5.920000,Regular,0.019278,Soft Drinks,48.269199,2009,Medium,Tier 3,Supermarket Type2,443.422791
2,17.500000,Low Fat,0.016760,Meat,141.617996,1999,Medium,Tier 1,Supermarket Type1,2097.270020
3,19.200001,Regular,0.000000,Fruits and Vegetables,182.095001,1998,Medium,Tier 3,Grocery Store,732.380005
4,8.930000,Low Fat,0.000000,Household,53.861401,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...
8518,6.865000,Low Fat,0.056783,Snack Foods,214.521805,1987,High,Tier 3,Supermarket Type1,2778.383301
8519,8.380000,Regular,0.046982,Baking Goods,108.156998,2002,Medium,Tier 2,Supermarket Type1,549.284973
8520,10.600000,Low Fat,0.035186,Health and Hygiene,85.122398,2004,Small,Tier 2,Supermarket Type1,1193.113647
8521,7.210000,Regular,0.145221,Snack Foods,103.133202,2009,Medium,Tier 3,Supermarket Type2,1845.597656
8522,14.800000,Low Fat,0.044878,Soft Drinks,75.467003,1997,Small,Tier 1,Supermarket Type1,765.669983

In [40]:
klib.clean_column_names(df_train)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,2002,Medium,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,1997,Small,Tier 1,Supermarket Type1,765.6700

In [41]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_weight                8523 non-null   float64
 1   item_fat_content           8523 non-null   object
 2   item_visibility            8523 non-null   float64
 3   item_type                  8523 non-null   object
 4   item_mrp                   8523 non-null   float64
 5   outlet_establishment_year  8523 non-null   int64
 6   outlet_size                8523 non-null   object
 7   outlet_location_type       8523 non-null   object
 8   outlet_type                8523 non-null   object
 9   item_outlet_sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [42]:
df_train=klib.convert_datatypes(df_train) # converts existing to more efficient dtypes, also called inside data_cleaning()

In [43]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_weight                8523 non-null   float32
 1   item_fat_content           8523 non-null   category
 2   item_visibility            8523 non-null   float32
 3   item_type                  8523 non-null   category
 4   item_mrp                   8523 non-null   float32
 5   outlet_establishment_year  8523 non-null   int16
 6   outlet_size                8523 non-null   category
 7   outlet_location_type       8523 non-null   category
 8   outlet_type                8523 non-null   category
 9   item_outlet_sales          8523 non-null   float32
dtypes: category(5), float32(4), int16(1)
memory usage: 192.9 KB

In [44]:
klib.mv_col_handling(df_train)

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type,item_outlet_sales
0,9.300000,Low Fat,0.016047,Dairy,249.809204,1999,Medium,Tier 1,Supermarket Type1,3735.137939
1,5.920000,Regular,0.019278,Soft Drinks,48.269199,2009,Medium,Tier 3,Supermarket Type2,443.422791
2,17.500000,Low Fat,0.016760,Meat,141.617996,1999,Medium,Tier 1,Supermarket Type1,2097.270020
3,19.200001,Regular,0.000000,Fruits and Vegetables,182.095001,1998,Medium,Tier 3,Grocery Store,732.380005
4,8.930000,Low Fat,0.000000,Household,53.861401,1987,High,Tier 3,Supermarket Type1,994.705200
...,...,...,...,...,...,...,...,...,...,...
8518,6.865000,Low Fat,0.056783,Snack Foods,214.521805,1987,High,Tier 3,Supermarket Type1,2778.383301
8519,8.380000,Regular,0.046982,Baking Goods,108.156998,2002,Medium,Tier 2,Supermarket Type1,549.284973
8520,10.600000,Low Fat,0.035186,Health and Hygiene,85.122398,2004,Small,Tier 2,Supermarket Type1,1193.113647
8521,7.210000,Regular,0.145221,Snack Foods,103.133202,2009,Medium,Tier 3,Supermarket Type2,1845.597656
8522,14.800000,Low Fat,0.044878,Soft Drinks,75.467003,1997,Small,Tier 1,Supermarket Type1,765.669983

In [45]:

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [46]:
df_train['item_fat_content']= le.fit_transform(df_train['item_fat_content'])
df_train['item_type']= le.fit_transform(df_train['item_type'])
df_train['outlet_size']= le.fit_transform(df_train['outlet_size'])
df_train['outlet_location_type']= le.fit_transform(df_train['outlet_location_type'])
df_train['outlet_type']= le.fit_transform(df_train['outlet_type'])

In [47]:
X=df_train.drop('item_outlet_sales',axis=1)

In [48]:
Y=df_train['item_outlet_sales']

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=101, test_size=0.2)

In [50]:
X.describe()

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.858088,1.369354,0.066132,7.226681,140.992767,1997.831867,1.170832,1.112871,1.201220
std,4.226130,0.644810,0.051598,4.209990,62.275051,8.371760,0.600327,0.812757,0.796459
min,4.555000,0.000000,0.000000,0.000000,31.290001,1985.000000,0.000000,0.000000,0.000000
25%,9.310000,1.000000,0.026989,4.000000,93.826500,1987.000000,1.000000,0.000000,1.000000
50%,12.857645,1.000000,0.053931,6.000000,143.012802,1999.000000,1.000000,1.000000,1.000000
75%,16.000000,2.000000,0.094585,10.000000,185.643700,2004.000000,2.000000,2.000000,1.000000
max,21.350000,4.000000,0.328391,15.000000,266.888397,2009.000000,2.000000,2.000000,3.000000

In [51]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

In [52]:
X_train_std= sc.fit_transform(X_train)

In [53]:
X_test_std= sc.transform(X_test)

In [54]:
X_train_std

array([[ 1.52290023, -0.57382672,  0.68469731, ..., -1.95699503,
         1.08786619, -0.25964107],
       [-1.239856  , -0.57382672, -0.09514746, ..., -0.28872895,
        -0.13870429, -0.25964107],
       [ 1.54667619,  0.97378032, -0.0083859 , ..., -0.28872895,
        -0.13870429, -0.25964107],
       ...,
       [-0.08197109, -0.57382672, -0.91916229, ...,  1.37953713,
        -1.36527477, -0.25964107],
       [-0.74888436,  0.97378032,  1.21363045, ..., -0.28872895,
        -0.13870429, -0.25964107],
       [ 0.67885675, -0.57382672,  1.83915361, ..., -0.28872895,
         1.08786619,  0.98524841]])

In [55]:
X_test_std

array([[-0.43860916, -0.57382672, -0.21609253, ..., -0.28872895,
         1.08786619,  0.98524841],
       [ 1.22570184, -0.57382672, -0.52943464, ..., -1.95699503,
         1.08786619, -0.25964107],
       [-1.2184578 ,  0.97378032,  0.16277341, ...,  1.37953713,
        -1.36527477, -0.25964107],
       ...,
       [ 0.65508101, -0.57382672,  0.8782423 , ..., -0.28872895,
         1.08786619, -1.50453056],
       [ 1.01171909, -0.57382672, -1.28409256, ..., -0.28872895,
         1.08786619,  0.98524841],
       [-1.56558541,  0.97378032, -1.09265374, ..., -0.28872895,
        -0.13870429, -0.25964107]])

In [56]:
Y_train

3684     163.786804
1935    1607.241211
5142    1510.034424
4978    1784.343994
2299    3558.035156
           ...
599     5502.836914
5695    1436.796387
8006    2167.844727
1361    2700.484863
1547     829.586792
Name: item_outlet_sales, Length: 6818, dtype: float32

In [57]:
Y_test

8179     904.822205
8355    2795.694092
3411    1947.464966
7089     872.863770
6954    2450.144043
           ...
1317    1721.093018
4996     914.809204
531      370.184814
3891    1358.232056
6629    2418.185547
Name: item_outlet_sales, Length: 1705, dtype: float32

In [58]:

import joblib

In [60]:
joblib.dump(sc,r'C:\Users\abarn\Downloads\dataset\models\sc.sav')

['C:\\Users\\abarn\\Downloads\\dataset\\models\\sc.sav']

In [61]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [62]:
lr.fit(X_train_std,Y_train)

LinearRegression()

In [63]:

X_test.head()

,item_weight,item_fat_content,item_visibility,item_type,item_mrp,outlet_establishment_year,outlet_size,outlet_location_type,outlet_type
8179,11.000000,1,0.055163,8,100.335800,2009,1,2,2
8355,18.000000,1,0.038979,13,148.641800,1987,0,2,1
3411,7.720000,2,0.074731,1,77.598602,1997,2,0,1
7089,20.700001,1,0.049035,6,39.950600,2007,1,1,1
6954,7.550000,1,0.027225,3,152.934006,2002,1,1,1

In [64]:
Y_pred_lr=lr.predict(X_test_std)

In [65]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [66]:
print(r2_score(Y_test,Y_pred_lr))
print(mean_absolute_error(Y_test,Y_pred_lr))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_lr)))

0.5041875773270632
880.9999044084501
1162.4412631603457

In [69]:
joblib.dump(lr,r'C:\Users\abarn\Downloads\dataset\models\lr.sav')

['C:\\Users\\abarn\\Downloads\\dataset\\models\\lr.sav']

In [70]:
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor(n_estimators=1000)

In [71]:
rf.fit(X_train_std,Y_train)

RandomForestRegressor(n_estimators=1000)

In [72]:
Y_pred_rf= rf.predict(X_test_std)

In [73]:

print(r2_score(Y_test,Y_pred_rf))
print(mean_absolute_error(Y_test,Y_pred_rf))
print(np.sqrt(mean_squared_error(Y_test,Y_pred_rf)))

0.548744431162068
782.9891590182554
1108.979716811729

In [78]:
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
# define models and parameters
model = RandomForestRegressor()
n_estimators = [10, 100, 1000]
max_depth=range(1,31)
min_samples_leaf=np.linspace(0.1, 1.0)
max_features=["auto", "sqrt", "log2"]
min_samples_split=np.linspace(0.1, 1.0, 10)


# define grid search
grid = dict(n_estimators=n_estimators)
grid_search_forest = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, scoring='r2',error_score=0,verbose=2,cv=2)
grid_search_forest.fit(X_train_std, Y_train)
# summarize results
print(f"Best: {grid_search_forest.best_score_:.3f} using {grid_search_forest.best_params_}")
means = grid_search_forest.cv_results_['mean_test_score']
stds = grid_search_forest.cv_results_['std_test_score']
params = grid_search_forest.cv_results_['params']

for mean, stdev, param in zip(means, stds, params):
    print(f"{mean:.3f} ({stdev:.3f}) with: {param}")

Fitting 2 folds for each of 3 candidates, totalling 6 fits
Best: 0.550 using {'n_estimators': 1000}
0.517 (0.015) with: {'n_estimators': 10}
0.545 (0.003) with: {'n_estimators': 100}
0.550 (0.005) with: {'n_estimators': 1000}

In [79]:
grid_search_forest.best_params_

{'n_estimators': 1000}

In [80]:
grid_search_forest.best_score_

0.5502777614384583

In [81]:
Y_pred_rf_grid=grid_search_forest.predict(X_test_std)

In [82]:
r2_score(Y_test,Y_pred_rf_grid)

0.5478872608860248

In [83]:
import joblib

In [84]:
joblib.dump(grid_search_forest,r'C:\Users\abarn\Downloads\dataset\models\random_forest_grid.sav')

['C:\\Users\\abarn\\Downloads\\dataset\\models\\random_forest_grid.sav']

In [85]:
model=joblib.load(r'C:\Users\abarn\Downloads\dataset\models\random_forest_grid.sav')

Executing shutdown due to inactivity...

2021-11-07 12:52:46,126 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2021-11-07 12:52:58,610 - INFO     - Executing shutdown...